{
  "arrowParens": "avoid",
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "importOrder": ["^@/components/(.*)$", "^@/hooks/(.*)$", "^@/lib/(.*)$", "^@/styles/(.*)$", "^[./]"],
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
